<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allUsers</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div id="back"> <h2>List of allUsers</h2>
        <centre>
        <% userdata.forEach((user)=>{%>
            <div class="single">
                <h5>Username: <%=user.username%></h5>
                <p>Email: <%=user.email%></p>
            </div>
        <% }) %>
        
        </centre>
    </div>

</body>

</html>